body {
    background: #1e1e1e;
}

.calc-container {
    max-width: 480px;
    min-width: 280px;
    width: 50%;
    height: 50%;
    margin: auto;
    background-color: #f5f5f5;
    text-align: center;
    display: flex;
    justify-content: center;
}

.calc-container .calc-wrap {
   margin: auto;
   width: 100%;
   background-color: #f3feff;
}

.calc-wrap .display-container {
    width: 100%;
    margin: auto;
    background-color: #F0F5F9;
}

.calc-wrap .display-container p.display-text {
    text-align: right;
    padding: 5% 5%;
    background: #031673;
    color: #F0F5F9;
    border: 1px solid grey;
    font-size: 32px;
    margin: 2% 2%;
}

.calc-wrap .keyboard {
    text-align: center;
    background: #F0F5F9;
}

.calc-wrap .keyboard .row button {
    justify-content: center;
    font-size: 24px;
    background: none;
    border: none;
    height: 4em;
    width: 25%;
    text-align: center;
    float: left;
}

.calc-wrap .keyboard .row button:hover {
    background-color: #52616B;
    color: #F0F5F9;
}